@charset UTF-8;
/*
Styles for Plugin TAWP Your IP 

Author: Thomas Arend
Date: 03.06.2018
Version 0.1.2
*/

.tawp_yourip {
  color: blue ;
  font-weight: bold;
}

.tawp_yourhost {
  color: blue ;
  font-weight: bold;
}


